body {
    font-family: Atkinson Hyperlegible, sans-serif;
}

header {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 4px solid #219DD9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .header-content {
    display: flex;
    align-items: center;
}

header .header-content h1 {
    margin-left: 10px;
}

header button {
    padding: 10px;
}

main {
    display: flex;
    height: 80vh;
}

aside {
    width: 20%;
    background-color: #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside img {
    width: 100%;
}

aside h2 {
    margin-top: 10px;
    text-align: center;
}

aside nav ul {
    list-style-type: none;
    padding: 0;
}

aside nav ul li a {
    text-decoration: none;
    color: #000;
}

.content {
    width: 80%;
    padding: 10px;
}
.button {
    background-color: #219DD9; /* Twoje specyficzne kolor tła */
    border: none;
    color: white; /* Kolor tekstu */
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 15px 32px;
    text-decoration: none;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Styl dla panelu zakładek */
.sidebar {
    background-color: #219DD9;
    width: auto;
    height: 50vh; /* Ustaw wysokość na 100% widoku ekranu */
    padding: 0.5em 3em; /* Dodaje trochę miejsca wewnątrz panelu */

}

/* Styl dla elementów menu */
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1em;
    transition: background-color 0.3s ease; /* Dodaje animację do koloru tła */
}

/* Styl dla elementów menu podczas najechania kursorem */
.sidebar a:hover {
    background-color: #1a758d;
}

/* Styl dla aktywnego elementu menu */
.sidebar a.active {
    background-color: #1a758d;
}



.logo {
    width: 120px;
    height: 120px;/* zmień tę wartość zgodnie z wymaganiami */ /* utrzymanie proporcji */
    border-radius: 50%; /* Nadaje obrazkowi kształt koła */
    object-fit: cover; /* Upewnia się, że obrazek nie zostanie rozciągnięty */
}
.meddocs-logo{
    width: 400px;
    margin-right: 60px;
}

/* Styl formularza */

.form-container {
    margin-top:50px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #219DD9;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 50%;
}

.form-container h3 {
    margin-bottom: 20px;
}

.form-container input[type='text'] {
    margin: 10px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
}

.form-container input[type='submit'] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #219DD9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type='submit']:hover {
    background-color: #f2f2f2;
}
